@import "../theme/black/_custom";
$z-border-color: #406683;
$z-bg-color: #1c3147;
$z-title-color: #fff;
$z-main-padding: 20px;
$z-main-padding-bottom: 70px;
$z-content-padding: 10px;
$z-content-margin: 10px;

$z-panel-bg-color:#00427a;
$z-panel-border-color:#7ba5d1;

$z-title-padding-top: 18px;
$z-title-padding-left: 15px;
$border-radius : 3px;


//$z-map-bg: url('/images/map_grid.png')
