@mixin icon-btn($width: false, $height: false) {
  border: none;
  background: transparent;
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
  padding: 0;
  cursor: pointer;
  color: inherit;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
}

@mixin form-control {
  padding: 6px 5px;
  font-size: 12px;
  height: auto !important;
}
