@import "../theme/black/_custom";
$z-border-color: #406683;
$z-bg-color: #1c3147;
$z-title-color: #fff;
$z-main-padding: 20px;
$z-content-padding: 15px;
$z-content-margin: 15px;

$z-panel-bg-color:#1c3147;
$z-panel-border-color:#406683;

$z-list-bg-color: #254766;
$z-list-border-color: #35668c;

//$z-map-bg: url('/images/map_grid.png')
