$primary-color: #406683;
$body-bg-color: #1f2b36;
$body-color: #fff;
$primary-font-color: #fff ;
$select-down-img : url(../images/qmys/icon-arrow-down-white.png) ;
$theme-bg-color: #1b2833 ;
$scrollbar-color: $primary-color;
$color2: #c0d5eb;
$color: #8f9ca3;
$font-size: 14px;


$link-color:            $primary-color;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

$custom-scrollbar-height: 5px;
$custom-scrollbar-width: 5px;

$scrollbar-height: 8px;
$scrollbar-width: 8px;
$scrollbar-bg-color: $primary-color;

$app-bar-height: 40px;
$app-bar-bg-color: #012948;
$app-bar-color: #fff;

$select-border-color: #0c518d;
$select-bg-color: #00315c;

