$primary-color: #213543;
$body-bg-color: #213543;
$body-color: #fff;
$primary-font-color: #fff ;
$select-down-img : url(../../../images/icon-arrow-down-white.png) ;
$theme-bg-color: #1b2833 ;
$scrollbar-color: #3a72a8;

$font-family-base: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;


$link-color:            $primary-color;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

$custom-scrollbar-height: 2px;
$custom-scrollbar-width: 2px;

$scrollbar-height: 8px;
$scrollbar-width: 8px;
$scrollbar-bg-color: #b1b7c3;



