$primary-color: #3d8d7f;
$body-bg-color: #fbfbfb;
$primary-font-color: #fff ;
$select-down-img : url(../../../images/icon-arrow-down-white.png) ;
$theme-bg-color: #fbfbfb ;
$scrollbar-color: $primary-color;

$theme-colors: (
  primary: $primary-color,
  black: #464646,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$link-color:            $primary-color;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

$custom-scrollbar-height: 5px;
$custom-scrollbar-width: 5px;

$scrollbar-height: 8px;
$scrollbar-width: 8px;
$scrollbar-bg-color: #b1b7c3;

$app-bar-height: 40px;
$app-bar-bg-color: #e1e0e0;
$app-bar-color: #fff;

